label,
.dt-search label,
.dt-info,
tr {
    color: white;
}

div.dt-container .dt-search input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px;
    color: black;
}

div.dt-container .dt-input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: black;
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
    cursor: default;
    color: black !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
